To Do:
Clean up result and separate into result, score, and opponent score
Convert Game type to words

In [1]:
import os
import pandas as pd
import sqlalchemy
from dotenv import load_dotenv, find_dotenv
_ = load_dotenv(find_dotenv())

connection_string = os.getenv("LINODE_CONN_STRING")
connection_string = os.getenv("LINODE_CONN_STRING")
conn = sqlalchemy.create_engine(os.getenv("LINODE_CONN_STRING")).connect()

In [5]:
data = pd.read_sql("SELECT * FROM sports_data.game_stats_2025", conn)

In [6]:
data['Win_Loss'] = data['result'].apply(lambda x: x[:1])

In [7]:
data['Win_Loss'].value_counts()

Win_Loss
W    95392
L    95392
Name: count, dtype: int64

In [8]:
def determine_scores(row):
    if row['Win_Loss'] == 'W':
        row['score'] = row['result'][3:].split('-')[0]
        row['opponent_score'] = row['result'][3:].split('-')[1]
    else:
        row['score'] = row['result'][3:].split('-')[1]
        row['opponent_score'] = row['result'][3:].split('-')[0]
    return row

In [13]:
data = data.apply(determine_scores, axis=1)

In [14]:
data['opponent_score'] = data['result'].apply(lambda x: x[3:].split('-')[1])

In [15]:
data[['result', 'Win_Loss', 'score', 'opponent_score']]

           result Win_Loss score opponent_score
0       W, 102-71        W   102             71
1       L, 102-71        L    71             71
2        L, 44-42        L    42             42
3        W, 44-42        W    44             42
4        L, 67-40        L    40             40
...           ...      ...   ...            ...
190779   W, 76-67        W    76             67
190780   W, 79-64        W    79             64
190781   L, 79-64        L    64             64
190782   L, 74-69        L    69             69
190783   W, 74-69        W    74             69

[190784 rows x 4 columns]

In [16]:
for i, row in data.iterrows():
    score = int(row['score'])
    opp_score = int(row['opponent_score'])
    if row['Win_Loss'] == 'W' and opp_score > score:
        print(f"Error at index {i}")
    elif row['Win_Loss'] == 'L' and score > opp_score:
        print(f"Error at index {i}")

In [17]:
# 0 is Non-Conference, 1 is conference, 2 is conference tourney, 3 is NCAA tourney (generally? might be exceptions where 3 is other post season tourney)
def convert_game_type(row):
    if row['game_type'] == 0:
        return 'Non-Conference'
    elif row['game_type'] == 1:
        return 'Conference'
    elif row['game_type'] == 2:
        return 'Conference Tourney'
    elif row['game_type'] == 3:
        return 'Post-Season Tourney'
    else:
        return 'Other'

In [18]:
data['game_type'] = data.apply(convert_game_type, axis=1)

In [19]:
data['game_type'].value_counts()

game_type
Conference             105900
Non-Conference          71292
Conference Tourney       9402
Post-Season Tourney      4190
Name: count, dtype: int64

In [20]:
data.shape[0]

190784

In [21]:
conn.commit()

In [22]:
data.to_sql('game_stats_v3_2025', sqlalchemy.create_engine(os.getenv("LINODE_CONN_STRING")), if_exists='replace', index=False, schema='sports_data')

784